<appSettings>
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Por defecto por ASP.NET - NO MODIFICAR -->
  
  <!-- Mis parámetros -->
  <add key="aspnet:MaxJsonDeserializerMembers" value="50000000" />
  <add key="RepositorioDocumentos" value="F:\PUBLIC" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="segmento" value="P2P" />
  <add key="segmentoComercial" value="GESTOR COMERCIAL" />
  <add key="codProducto" value="PTP010" />
  <add key="codigoCategoria" value="7" />
  <add key="wsFacturas" value="http://172.19.3.72/p2ppruebas/api/factura" />
  <add key="wsNotaCredito" value="http://172.19.3.72/p2ppruebas/api/notacredito" />
  <add key="wsCotizaciones" value="http://172.19.3.72/gestorcomercialpruebas/api/cotizaciones" />
  <add key="wsFacturasPresupuestos" value="http://172.19.3.72/gestorcomercialpruebas/api/facturaPresupuestos" />
  <!-- Mis parámetros -->
</appSettings>