<!--PRODUCCION-->
<connectionStrings>
  <!--Connections ADO -->
  <add name="con" connectionString ="Data Source=172.19.3.87;User ID=sa;Password=saSql;Initial catalog=GestionPPM" providerName="System.Data.SqlClient"/>
  
  <!--Connections Entity Framework -->
  <add name="GestionPPMEntities" connectionString="metadata=res://*/Modelo.GestionPPM.csdl|res://*/Modelo.GestionPPM.ssdl|res://*/Modelo.GestionPPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.87;initial catalog=GestionPPM;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PlaceToPay" connectionString="metadata=res://*/Modelo.PlaceToPay.PlaceToPay.csdl|res://*/Modelo.PlaceToPay.PlaceToPay.ssdl|res://*/Modelo.PlaceToPay.PlaceToPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.87;initial catalog=GestionPPM;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="QPHEntities" connectionString="metadata=res://*/Modelo.PlaceToPay.IntegracionGxCPPM.csdl|res://*/Modelo.PlaceToPay.IntegracionGxCPPM.ssdl|res://*/Modelo.PlaceToPay.IntegracionGxCPPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.134.22;initial catalog=QPH;user id=usr_p2p_qph;password=p2p_user01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
<!--PRODUCCION-->